@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --primary-color: #f1f1f1;
  --secondary-color: #f1f1f1;
  --background-color: #ffffff;
  --text-color: #1f2937;
}

.dark {
  --primary-color: #333333;
  --secondary-color: #a855f7;
  --background-color: #1e1e1e;
  --text-color: #eaeaea;
}

.p-dialog {
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
}

.p-inputtext {
  background-color: var(--background-color) !important;
  border: 1px solid var(--primary-color) !important;
}

.p-datatable {
  background-color: var(--background-color) !important;
}

.p-datatable th {
  background-color: var(--primary-color) !important;
}

.p-datatable tbody tr {
  background-color: var(--background-color) !important;
}

.p-select:hover {
  background-color: var(--primary-color) !important;
}

.p-select-option.p-select-option-selected.p-focus,
.p-select-option.p-select-option-selected {
  background: var(--primary-color) !important;
  color: var(--text-color) !important;
}

.p-select {
  border: 1px solid var(--primary-color) !important;
}

.p-paginator-page.p-paginator-page-selected {
  background: var(--primary-color) !important;
  color: var(--text-color) !important;
}
/* ✅ Ajustes para modo oscuro */

.dark .p-dialog {
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
}

.dark .p-inputtext {
  background-color: var(--background-color) !important;
  border: 1px solid var(--primary-color) !important;
  color: var(--text-color) !important;
}

.dark .p-inputtext {
  background-color: var(--background-color) !important;
  border: 1px solid var(--primary-color) !important;
}

.dark input::placeholder {
  color: var(--text-color) !important;
}
.dark .p-datatable,
.dark .p-datatable tbody tr,
.dark .p-datatable th,
.dark .p-datatable td {
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
}

.dark .p-select-option:hover {
  background-color: var(--primary-color) !important;
}

.dark .p-paginator {
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
}

.dark .p-select-option {
  color: var(--text-color) !important;
}

.dark .p-select-option.p-select-option-selected.p-focus,
.dark .p-select-option.p-select-option-selected {
  background: var(--primary-color) !important;
  color: var(--text-color) !important;
}
.dark .p-paginator .p-paginator-first,
.dark .p-paginator .p-paginator-prev,
.dark .p-paginator .p-paginator-next,
.dark .p-paginator .p-paginator-last {
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
}
.dark .p-select {
  border: 1px solid var(--primary-color) !important;
}
.dark .p-select-label {
  color: var(--text-color) !important;
}
.dark .p-select-list-container,
.dark .p-select {
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
  border: var(--primary-color) !important;
}
.dark .p-select-option.p-select-option-selected.p-focus,
.p-select-option.p-select-option-selected {
  background: var(--primary-color) !important;
  color: var(--text-color) !important;
}

.dark .p-select {
  border: 1px solid var(--primary-color) !important;
}

.dark .p-paginator-page.p-paginator-page-selected {
  background: var(--primary-color) !important;
  color: var(--text-color) !important;
}
.dark .p-paginator-current {
  color: var(--text-color) !important;
}

.dark .p-paginator-page,
.p-paginator-next,
.p-paginator-last,
.p-paginator-first,
.p-paginator-prev {
  color: #b3b3b3;
}
